/* PERSONNALISATION DES TABS */
.tabs dd {
    width: 33.33%;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 0.5rem;
    text-align: center;
    text-shadow: 0 1px 0 white;
    font-family: 'Open Sans';
}
.tabs dd a {
    border: 1px solid #dfdfdf;
    padding : 0;
}

.tabs dd.active a {
    border-bottom: none;
    border-top: 3px solid #5489de;
}
.tabs dd.active a:hover {
    background: #F5F5F5;
    border-top: 3px solid #375B94;
}
.tabs dd>a {
    background: #F9F9F9;
font-size: 0.96rem;
}
.tabs dd>a:hover {
    background: #EDEDED;
}