
/* NB : La personnalisation de la barre verticale ne s'applique que sur les écrans 
dont la taille est supérieure à la moyenne. Pour les petits écrans (portables,...)
ce sont les propriétés par défaut de la barre qui sont appliqués */

@media only screen and (min-width: 40.063em) { 

    /* La couleur de la barre */
    .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
        background: #FAFAFA;
        font-size: 0.9125rem;
        color: #484c4f;    
    }

    /* Lorsque la barre est active (La barre sur laquelle on a cliqué) */
    .top-bar-section li.active:not(.has-form) a:not(.button) {
        color : #FFFFFF;
        background : #15495C;
    }



    /* Le séparateur et le texte en hover  */
    .top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
        border-right : solid 1px #E0E0E0;        
    }
    /* Elément de la barre en hover */
    .top-bar-section li:not(.has-form) a:not(.button):hover {
        background: #646060;
        color: #FFFFFF; 
    }



    /* Couleur du menu lorsqu'un sous menu est en hover */
    .top-bar-section ul li:hover:not(.has-form)>a {
        background : #2F3338;
    }
    /* Couleur du texte écrit dans la barre */
    .top-bar-section ul li>a {
        color: #484c4f;
    }
}
